body{
	font-size: ;
	color:#3C8FE7;
	font-weight:600;
}
header{
background:#039be5;	
color:#FFF;
vertical-align:middle;
}

h3{font-weight:600;}
h1{font-weight:600;}
h10{font-size:25px;}

.espacio{
height:90px;	
vertical-align:middle;
}


